*{
    font-family: Google Sans;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: auto 1fr;

}

#chatTopBar{
    display: inline;
}

#logoAndName i h2{
    display: flex;
}

#chats ul li{
    padding: 25px;
    display:inline-block;
}

ul{
    list-style: none;
    padding: 0px ;
    margin: 0px;
    text-align: left;
    
}

li{
    padding: 10px 1px 10px 10px;
    border: 0px;
    margin: 0px;
}

aside{
    padding: 0px 10px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px ;
    border-radius: 38px;
   
    border: 10px 10px 10px 10px;
    background-color: white;
    font-size: larger;
    text-align: left;
}

main{
    background-color:white ;
    border-color: black;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px 0px 0px 1px;
    padding: 1px 10px 10px 10px;

}
#topNav{
    padding: 1px 10px 320px 10px;
    margin: 1px 10px 10px 10px;
    border-style: none;
    border: 10px 10px 10px 1px;
}

#bottomNav{
    padding: 1px 10px 0px 0px ;
    margin: 1px 10px 10px 10px;
}

input{
    padding: 10px 300px 10px 20px;
    border-radius: 20px;
    border-style:inset;
    border-width: 1px;
    font-weight: lighter;
    
}

iframe{
    border: 10px 10px 10px 10px;
    border-style: none;
    padding: 600px 100px 100px 850px;

}

#userMessage{
    padding: 10px 920px 10px 10px ;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}




